{% extends 'base.html.twig' %}

{% block body %}

    <div role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-sm-6 col-md-6">
                    <div class="navbar-brand">
                        <div class="brand"> Echo Look</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row criteria">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Rechercher un look</div>
                    <form role="search" class="navbar-form" id="search" action="{{ path('lookSearch') }}">
                        <table id="results" class="table table-striped table-hover">
                            <tbody>
                            <tr><td><label for="event">Événement</label></td>
                                <td>
                                    <select id="event-select" name="event">
                                        <option value="Mariage">Mariage</option>
                                        <option value="Enterrement">Enterrement</option>
                                        <option value="Piscine">Piscine</option>
                                        <option value="Entretiendembauche">Entretien d'embauche</option>
                                    </select>
                                </td>
                            </tr>
                            <tr><td><label for="style">Style</label></td>
                                <td>
                                    <select id="style-select" name="style">
                                        <option value="Decale">Décalé</option>
                                        <option value="Sportif">Sportif</option>
                                        <option value="Chic">Chic</option>
                                        <option value="Casual">Casual</option>
                                        <option value="Gothique">Gothique</option>
                                    </select>
                                </td>
                            </tr>
                            <tr><td><label for="season">Saison</label></td><td>
                                    <select id="season-select" name="season">
                                        <option value="Ete">Ete</option>
                                        <option value="Hiver">Hiver</option>
                                        <option value="MiSaison">Mi Saison</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{{path('randomLook')}}">RANDOM !!!</a>
                        <input type="submit" value="Valider"/>
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">Votre look !</div>
                        <table id="results" class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td><img src="{{hauts}}"></td><td rowspan="2"><img src="{{manteaux}}"></td>
                                </tr>
                                <tr>
                                    <td><img src="{{bas}}"></td>
                                </tr>
                                <tr>
                                    <td><img src="{{chaussures}}"></td> <td><img src="{{accessoires}}"></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>


{% endblock %}


{% block stylesheets %}
    <style>
        a {
            color:blue;
            margin-right: 10px;
        }
        .criteria{text-align:center;}
        .node { stroke: #222; stroke-width: 1px; }
        .node.actor { fill: #888; }
        .node.movie { fill: #BBB; }
        .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
    </style>
{% endblock %}
